<section>
    <div class="container d-grid gap-3 my-4">
        <div class="d-flex align-items-center">
            <h1 class="text-primary-dark">{{filmeDetalhes.titulo}}
                <p class="d-block fs-3 text-dark" id="dataLancamento">{{filmeDetalhes.data.split('-')[0]}}</p>
            </h1>
            <div class="ms-auto text-end">
                <p class="text-dark">{{filmeDetalhes.nota}} / 10</p>
                <p class="text-dark">{{filmeDetalhes.votos}} Votos</p>
                <i id="lblFavorito"
                    [ngClass]="ehFavorito ? 'bi bi-heart-fill fs-2 text-primary' : 'bi bi-heart fs-2 text-primary' "
                    role="button" (click)="atualizarFavoritos()">
                </i>

            </div>
        </div>

        <div class="row gap-3">
            <div *ngIf="imagem_url != '' " id="pnlPoster" class="col-lg-3">
                <img [src]="imagem_url" class="img-fluid rounded-3" alt="" />
            </div>
            <div class="col-lg">
                <div *ngIf="video_url != '' " id="pnlTrailer" class="ratio ratio-21x9 h-100">
                    <iframe class="rounded-3" id="iframeTrailer" [src]="obterVideoUrl()" frameborder="0"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div id="pnlGeneros" class="d-flex gap-3">
            <span *ngFor="let genero of filmeDetalhes.generos"
                class="badge rounded-pill fs-5 px-4 py-2 bg-primary text-light">
                {{genero}}
            </span>
        </div>

        <div class="row">
            <p id="lblDescricao" class="fs-5 text-dark">
                {{filmeDetalhes.descricao}}
            </p>
        </div>

        <div id="pnlCreditos" class="row">
            <div class="row border-bottom border-dark">
                <p class="col my-auto py-2 fw-bold align-text-center text-dark ml-auto">
                    Diretores
                </p>
                <p class="col my-auto py-2 align-text-center text-dark ml-auto">
                    {{formatarListaCreditos(filmeCreditos.diretores)}}
                </p>
            </div>
            <div class="row border-bottom border-dark">
                <p class="col my-auto py-2 fw-bold align-text-center text-dark ml-auto">
                    Escritores
                </p>
                <p class="col my-auto py-2 align-text-center text-dark ml-auto">
                    {{formatarListaCreditos(filmeCreditos.escritores)}}
                </p>
            </div>
            <div class="row">
                <p class="col my-auto py-2 fw-bold align-text-center text-dark ml-auto">
                    Atores
                </p>
                <p class="col my-auto py-2 align-text-center text-dark ml-auto">
                    {{formatarListaCreditos(filmeCreditos.atores)}}
                </p>
            </div>
            <span *ngIf="filmeAvaliacoes.length" class="d-flex justify-content-center">
            <button (click)="alterarVisualizacaoAvaliacoes()"
                [ngClass]="avaliacaoVisivel ? 'btn-ocultar text-light bg-dark' : 'btn-visualizar text-dark bg-light' "
                class="my-5 text-center w-50 rounded-pill">
                <h2>{{avaliacaoVisivel ? 'Ocultar Avaliações' : 'Visualizar Avaliações'}}</h2>
            </button>
            </span>
            <div *ngIf="avaliacaoVisivel" class="container-fluid">
                <div *ngFor="let avaliacao of filmeAvaliacoes"
                    class="d-grid w-90 ml-auto border border-dark bg-light rounded-3 my-3">
                    <div class="d-flex gap-2 border-solid-dark p-2 mx-3">
                        <img [src]="'https://image.tmdb.org/t/p/w200' + avaliacao.caminho_avatar"
                            class="avatar-img img-fluid rounded-3" />
                        <p class="text-primary my-3">{{avaliacao.usuario}}</p>
                        <p class="my-3"><b>Nota: </b>{{avaliacao.nota}}</p>
                        <p class="my-3"><b>Última edição: </b>{{avaliacao.data_atualizacao | date}}</p>
                    </div>
                    <p class="quebra-linha p-2 border border-gray bg-white rounded-3 m-3">{{avaliacao.conteudo}}</p>
                </div>
            </div>
        </div>
    </div>
</section>