<div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center w-100">
        <input type="text" [(ngModel)]="titulo" placeholder="Pesquisar por Termos" (keydown.enter)="tituloSelecionado()"
            class="input-pesquisa form-input bg-light text-center w-100 border border-light">
        <button role="button" [ngbTooltip]="'pesquisar'" placement="bottom" class="btn-pesquisa btn bg-secondary text-light"
            (click)="tituloSelecionado()">
            <i class="bi bi-search" role="button"></i>
        </button>
    </div>
</div>