<app-filme-pesquisa (onTituloSelecionado)="selecionarFilmesDetalhesPorTitulo($event)"></app-filme-pesquisa>
<div class="container">
    <div *ngFor="let filmeDetalhes of filmesDetalhes" class="row bg-light rounded-3 my-2 py-2 border-dark">
        <div class="col-2">
            <img routerLink="/filme-detalhes/{{filmeDetalhes.id}}" role="button"
                [src]="'https://image.tmdb.org/t/p/original' + this.filmeDetalhes.poster" class="img-fluid rounded-3"
                alt="" />
        </div>
        <div class="d-grid bg-light gap-2 col">
            <a routerLink="/filme-detalhes/{{filmeDetalhes.id}}"
                class="link-information border border-bottom-dark p-2 m-1 rounded-3">
                {{filmeDetalhes.titulo}}
            </a>
            <p class="border border-bottom-dark p-2 m-1 rounded-3">{{filmeDetalhes.descricao}}</p>
            <p class="p-1 text-start">{{filmeDetalhes.data.split('-')[0]}}</p>
        </div>
    </div>
</div>