<div class="container d-grid gap-3">
    <div class="row gap-3">
        <h2 id="lblEmAlta" [class.lbl-selecionado]="listagemTipo == 'populares'"
            class="col fw-semibold text-dark text-center bg-light rounded-3 my-2" (click)="selecionarFilmesPopulares()"
            role="button">
            Filmes em Alta
        </h2>
        <h2 id="lblFavoritos" [class.lbl-selecionado]="listagemTipo == 'favoritos'"
            class="col fw-semibold text-dark text-center bg-light rounded-3 my-2" (click)="selecionarFavoritos()"
            role="button">
            Filmes Favoritos
        </h2>
        <h2 id="lblMelhoresAvaliados" [class.lbl-selecionado]="listagemTipo == 'avaliados'"
            class="col fw-semibold text-center text-dark bg-light rounded-3 my-2"
            (click)="selecionarFilmesMelhoresAvaliados()" role="button">
            Filmes Por Nota
        </h2>
    </div>
    <app-pagination *ngIf="listagemTipo != 'favoritos'" class="d-flex justify-content-center"
        (onPaginaSelecionada)="paginaSelecionada($event)">
    </app-pagination>
    <div id="pnlFilmes" class="row g-3 mb-3">
        <app-card-filme *ngFor="let filme of filmes" [filme]="filme" class="col-6 col-md-4 col-lg-2"></app-card-filme>
    </div>
</div>