<div class="container d-grid gap-3">

    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-underline d-flex justify-content-evenly my-2">
        <li [ngbNavItem]="1" class="bg-light rounded-3">
            <button ngbNavLink class="px-2 fw-semibold text-dark text-center fs-5"
                (click)="selecionarFilmesPopulares()">
                Filmes em Alta
            </button>
            <ng-template ngbNavContent>
                <app-pagination class="d-flex justify-content-center" (onPaginaSelecionada)="paginaSelecionada($event)"
                    [page]="paginaAtual">
                </app-pagination>
                <app-filme-listagem [filmes]="filmes"></app-filme-listagem>
                <app-pagination class="d-flex justify-content-center" (onPaginaSelecionada)="paginaSelecionada($event)"
                    [page]="paginaAtual">
                </app-pagination>
            </ng-template>
        </li>
        <li [ngbNavItem]="2" class="bg-light rounded-3">
            <button ngbNavLink class="px-2 fw-semibold text-dark text-center fs-5"
                (click)="selecionarFilmesMelhoresAvaliados()" role="button">
                Filmes Por Nota
            </button>
            <ng-template ngbNavContent>
                <app-pagination class="d-flex justify-content-center" (onPaginaSelecionada)="paginaSelecionada($event)"
                    [page]="paginaAtual">
                </app-pagination>
                <app-filme-listagem [filmes]="filmes"></app-filme-listagem>
                <app-pagination class="d-flex justify-content-center" (onPaginaSelecionada)="paginaSelecionada($event)"
                    [page]="paginaAtual">
                </app-pagination>
            </ng-template>
        </li>
        <li [ngbNavItem]="3" class="bg-light rounded-3">
            <button ngbNavLink class="px-2 fw-semibold text-dark text-center fs-5"
                (click)="selecionarFavoritos()" role="button">
                Filmes Favoritos
            </button>
            <ng-template ngbNavContent>
                <app-filme-listagem [filmes]="filmes"></app-filme-listagem>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
</div>